.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="span"] {
  margin: 0 !important;
}
.cwLayoutNetwork {
  display: block;
  width: 100%;
}

div.cwLayoutNetworkLegend {
	display:flex;
	width:80%
}
div.LayoutNetork_filterSection {
	display:flex;
}

div.LayoutNetork_filterGroup {
	display:block;
}

div.LayoutNetork_filterGroup div{
	display:flex;
	flex-wrap: wrap;
}

div.cwLayoutNetworkLegend i{
	font-size: 1rem;
}

.cwLayoutNetwork img.networkLegendImage {
	height: 25px;
    top: 3px;
    position: absolute;
    right: 25px;
}

div.bootstrap-select > div.dropdown-menu {
	overflow : inherit !important;
}

div.cwLayoutNetworkPhysicsConfig {
    position: absolute;
    right: 0;
    z-index: 2000;
    width: 500px;
}

.vis-configuration.vis-config-select {
	    width: auto;

};